/* =========
   Web Fonts
   ========= */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,400italic,700,300);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300);
/* ===========
   Meyer Reset
   =========== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========
   My Styles
   ========= */

.intro {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/lowPoly.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
}

.hook {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
}


#title {
	margin-bottom: .5em;
	font-size: 60px;
	font-weight: 300;
	font-family: 'Comfortaa', 'Lato', sans-serif;
	padding-bottom: .5em;
	opacity: 0;
	transition: all .6s ease-in-out;
}

.hook p {
	opacity: 0;
	font-size: 20px;
	transition: all .8s ease-in-out;
}

.hook a {
	text-decoration: none;
	color: inherit;
	font-style:italic;
	transition: color .2s ease-in-out;
}

.hook a:hover {
	color: #E11A7B;
}

#title.loaded {
	opacity: 1;
	padding-bottom: 0;
}

#title.loaded ~ p {
	opacity: 1;
}